/*.App {
  text-align: center;
}*/


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #00aff0;
  height: 25px;
  padding: 15px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.auth-form {
  text-align: center;
  margin-top: 15% ;
}

.auth-form input {
  height: 25px ;
  width: 200px ;
  padding: 5px ;
  margin: 3px ;
}

.nav-link {
  padding: 5px ;
  margin: 0px, 5px ;
}
